<!DOCTYPE html>
<html>
<head>
    <title>Smart Parking System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="navbar">
    <h2>🚗 Smart Parking System</h2>

    <div class="menu">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/booking">Booking</a>
    </div>
</div>

<div class="hero">

    <h1>Welcome to Smart Parking System</h1>

    <p>
        Find available parking slots quickly and book them online.
    </p>

    <a href="/login">
        <button>Login</button>
    </a>

    <a href="/register">
        <button>Register</button>
    </a>

</div>

<footer>

<p>© 2026 Smart Parking System </p>

</footer>

</body>
</html>